.task-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;

  .task-group-btn {
    display: flex;
    column-gap: 20px;
  }

  .task-item {
    &--done {
      color: green;
    }
  }
}
